
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color:#7a75ac;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  font-weight: 200;
}

body {
    background-color: #6d6a8e;
  margin: 0;
}

h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 0;
  color: #3169ad;
}

h2 {
    color: rgb(124, 174, 209);
}

.site-wrap {
  text-align: justify;
  margin: 100px auto;
  padding:40px;
  max-width: 700px;  
  background-color:rgb(103, 118, 152);   
}

.align-left {
  margin-right:20px;
  float:left;
}

.align-right {
  margin-left:20px;
  float:right;      
}

.slide-in {
  opacity:0;
  transition:all .5s;
}

.align-left.slide-in {
  @include transition(-30%, 0.95);
}

.align-right.slide-in {
  @include transition(30%, 0.95);
}

.slide-in.active {
  opacity:1;
  @include transition(0%, 1);
}

p {
    color: bisque;
}
